* {
    margin: 0px;
    
}

html{
    background-image: url("https://cdn.pixabay.com/photo/2021/11/08/23/03/warp-speed-6780299_1280.jpg");
    display: grid;
    background-color: black;
    color: whitesmoke;
}

body{
    
    margin-top: 10vh;
    margin-right: 5vw;
    margin-left: 5vw;
}

#title {
    text-align: center;
}

#part2, #part1, #title {
    background-color: black;
    min-width: 45%;
    margin: 10px;
    border-style: groove;
    border-color: gold;
}

#box1{
    display: flex;
}

.info-container {   
    border-style: double;
    border-color: bisque;
}

/* teachers css*/
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  font-family: Montserrat, sans-serif;
}
main {
  display: flex;
  flex-flow: column wrap;
}

.hidden {
  display: none;
}

#shiplist td {
  cursor: pointer;
}

#detailsbox {
  flex: 1 0 15em;
  padding: 1em;
  text-align: center;
  border: 2px solid;
}

#detailsbox dl {
  border: 1px solid;
  text-align: left;
}

#shiplist {
  /* display: flex; */
  flex-flow: row wrap;
  list-style-type: none;
}

#shiplist thead {
  background-color: lightgray;
}

#shiplist tr {
  border: 1px solid;
  padding: 0.5em;
  height: 44px;
}
#shiplist tr:nth-child(even) {
  background-color: azure;
}
#shiplist tr:hover {
  background-color: bisque;
  text-decoration: underline;
}