* {
    margin: 0px;
    
}

html{
    /*background: url("https://www.youtube.com/watch?v=al93dC3vqws");*/
   background-image: url("https://cdn.pixabay.com/photo/2016/09/08/12/00/stars-1654074_1280.jpg");
    display: grid;
    background-color: black;
    color: whitesmoke;
}

body{
    width: 100vw;
    margin-top: 10vh;
   
}

#title {   
    text-align: center;
}

#part2, #part1, #title {
    background-color: black;
    margin: 10px;
    border-style: groove;
    border-color: gold;
}

#part2, #part1 {
    width: 48%;
}

#box1{
    display: flex;
    align-content: center;
    justify-content: space-between;
    
}



/* teachers css*/
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  font-family: Montserrat, sans-serif;
}
main {
  display: flex;
  flex-flow: column wrap;
}

.hidden {
  display: none;
}

#shiplist td {
  cursor: pointer;
}

#detailsbox {
  flex: 1 0 15em;
  padding: 1em;
  text-align: center;
  border: 2px solid;
}

#detailsbox dl {
  border: 1px solid;
  text-align: left;
}

#shiplist {
  /* display: flex; */
  flex-flow: row wrap;
  list-style-type: none;
}

#shiplist thead {
  background-color: lightgray;
}

#shiplist tr {
  border: 1px solid;
  padding: 0.5em;
  height: 44px;
}
#shiplist tr:nth-child(even) {
  background-color: azure;
}
#shiplist tr:hover {
  background-color: bisque;
  text-decoration: underline;
}